{% extends "base.html" %}
{% block title %}HOMEPAGE{% endblock %}
{% block content %}
<form method=post enctype=multipart/form-data>
    <p><input type="file" name="file">
    <p><input type="submit" value="submit" /></p>
    <h3>if you save the image please click editor</h3>
    <p><a href = "{{url_for('value')}}">rectangle draw</a> </p>
    <p><a href = "{{url_for('text')}}">text draw</a> </p>
    <p><a href = "{{url_for('full')}}">rectangle filled with color draw</a> </p>
</form>
{% endblock %}